@using MVC_03.DAL.Models
@model EmployeeViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Department</h1>
<br />
<br />
<form asp-action="Create" enctype="multipart/form-data">
    <partial name="PartialViews/CreateEditEmployeePartial"></partial>
    <input type="submit" value="Create" class="btn btn-primary mt-5" />
    <a asp-action="Index" class="mt-5 btn btn-light">Back To List</a>
</form>
@section ValidateSection
{
    <partial name="_validationscriptspartial"></partial>
}

