@model Employee

<div>
    <label class="col-form-label" asp-for="Name">Name</label>
    <input readonly type="text" asp-for="Name" class="form-control" />
</div>
<div>
    <label class="col-form-label" asp-for="Address">Address</label>
    <input readonly type="text" asp-for="Address" class="form-control" />
</div>
<div>
    <label class="col-form-label" asp-for="Salary">Salary</label>
    <input readonly asp-for="Salary" class="form-control" />
</div>
<div>
    <label class="col-form-label" asp-for="Email">Email</label>
    <input readonly type="email" asp-for="Email" class="form-control" />
</div>
<div>
    <label class="col-form-label" asp-for="Age">Age</label>
    <input readonly type="text" asp-for="Age" class="form-control" />
</div>
<div>
    <label class="col-form-label" asp-for="IsActive">Is Active?</label>
    <input readonly asp-for="IsActive" class="form-control" />
</div>
<div>
    <label class="col-form-label" asp-for="PhoneNumber">Phone Number</label>
    <input readonly type="email" asp-for="PhoneNumber" class="form-control" />
</div>
<div>
    <label class="col-form-label" asp-for="HireDate">Hire Date</label>
    <input readonly asp-for="HireDate" class="form-control" />
</div>
<div>
    <label class="col-form-label" asp-for="IsDeleted">Is Deleted?</label>
    <input readonly asp-for="IsDeleted" class="form-control" />
</div>
<div>
    <label class="col-form-label" asp-for="Gender">Gender</label>
    <input readonly asp-for="Gender" class="form-control" />
</div>
