@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div class="agileits-top">
		<form asp-action="ResetPassword">
          <input class="text w3lpass" asp-for="Password" placeholder="Password" required="">
			<input class="text w3lpass" asp-for="ConfirmPassword" placeholder="Confirm Password" required="">
			<input type="submit" value="RestPassword">
		</form>
		<p>Don't have an Account? <a asp-action="SignUp"> Register Now!</a></p>
	</div>
</div>
@section ValidateSection
{
	<partial name="_validationscriptspartial"></partial>
}
